@import url(http://fonts.googleapis.com/css?family=Roboto:400|Oswald:400,700);

/* form Contacto  */
#contact_form{ width:300px; padding:20px; border: 1px solid #DDD;border-radius: 5px; font-family: Arial; font-size: 11px; font-weight: bold;color: #666666; background:#FAFAFA; margin-right: auto; margin-left: auto;}
#contact_form legend{font-size: 15px; color: #C9C9C9;}
#contact_form label{display: block; margin-bottom:5px;}
#contact_form label span{float:left; width:100px; color:#666666;}
#contact_form input{height: 25px; border: 1px solid #DBDBDB; border-radius: 3px; padding-left: 4px; color: #666; width: 180px; font-family: Arial, Helvetica, sans-serif;}
#contact_form textarea{resize:none; border: 1px solid #DBDBDB; border-radius: 3px; padding-left: 4px;color: #666; height:100px; width: 180px; font-family: Arial, Helvetica, sans-serif;}
.submit_btn { border: 1px solid #D8D8D8; padding: 5px 15px 5px 15px; color: #8D8D8D; text-shadow: 1px 1px 1px #FFF; border-radius: 3px; background: #F8F8F8;}
.submit_btn:hover { background: #ECECEC;}
.success{ background: #CFFFF5;padding: 10px; margin-bottom: 10px; border: 1px solid #B9ECCE; border-radius: 5px; font-weight: normal; }
.error{ background: #FFDFDF; padding: 10px; margin-bottom: 10px; border: 1px solid #FFCACA; border-radius: 5px; font-weight: normal;}

/* items carro */

.item{width:290px;border:1px solid #ddd;border-radius:5px; font-family: Arial; font-size: 11px; font-weight: bold;color:#666666;background:#fafafa; float:left;margin-left: 10px}
.item a span:hover{ display: block;z-index: 999;}
.derecha{text-align: right; float: right;}
.text{padding-left: 10px;padding-bottom: 10px;width: 270px}
.img-item{width:270px;height: 270px;padding: 10px;padding-bottom: 0; float: left;}
.img-item img:hover{background: rgba(255,0,0,0.5);}
.agregar{border: 1px solid #D8D8D8; padding: 5px; color: #8D8D8D; text-shadow: 1px 1px 1px #FFF; border-radius: 3px; background: #F8F8F8; width: 100%}
.agregar:hover { background: #ECECEC;}

.bloque{overflow:hidden;position:relative}
.article{
background:rgba(0,0,0,0.5);
top:-280px;
color:white;
font:54px Georgia,serif;
height:100%;width:100%;
position:absolute;
/*posibilidad de transition*/
-webkit-transition: all .5s ease-out;
-moz-transition: all .5s ease-out;
-o-transition: all .5s ease-out;
transition: all .5s ease-out;

}
.article a{
color:#fff;
margin-top: 100px;
display:block;
padding:15px;
text-decoration:none;
/*posibilidad de transition*/
}
.article a:hover{
color:green;
text-decoration:none;
}
.bloque:hover .article{
top:0;
}

/* form Registro  */
#contact_form1{ width:300px; padding:20px; border: 1px solid #DDD;border-radius: 5px; font-family: Arial; font-size: 11px; font-weight: bold;color: #666666; background:#FAFAFA; margin-right: auto; margin-left: auto;}
#contact_form1 legend{font-size: 15px; color: #C9C9C9;}
#contact_form1 label{display: block; margin-bottom:5px;}
#contact_form1 label span{float:left; width:100px; color:#666666;}
#contact_form1 input{height: 25px; border: 1px solid #DBDBDB; border-radius: 3px; padding-left: 4px; color: #666; width: 180px; font-family: Arial, Helvetica, sans-serif;}
#contact_form1 textarea{resize:none; border: 1px solid #DBDBDB; border-radius: 3px; padding-left: 4px;color: #666; height:100px; width: 180px; font-family: Arial, Helvetica, sans-serif;}
.submit_btn1 { border: 1px solid #D8D8D8; padding: 5px 15px 5px 15px; color: #8D8D8D; text-shadow: 1px 1px 1px #FFF; border-radius: 3px; background: #F8F8F8;}
.submit_btn1:hover { background: #ECECEC;}
.success{ background: #CFFFF5;padding: 10px; margin-bottom: 10px; border: 1px solid #B9ECCE; border-radius: 5px; font-weight: normal; }
.error{ background: #FFDFDF; padding: 10px; margin-bottom: 10px; border: 1px solid #FFCACA; border-radius: 5px; font-weight: normal;}
/*carro*/
.carro {
	width: auto;
	height: auto;
}
.carro > li > a {
	background-color: #616975;
	border-bottom: 1px solid #33373d;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;
	box-shadow: inset 0px 1px 0px 0px #878e98;
	width: 100%;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-weight: 600;
	color: #fff;

}
.carro ul li a {
	background: #fff;
	border-bottom: 1px solid #efeff0;
	width: 100%;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-size: 0.923em;
	font-weight: 400;
	color: #878d95;
}
.carro ul li:last-child a {
	border-bottom: 1px solid #33373d;
}
.carro > li > a:hover, .carro > li > a.active {
	background-color: #35afe3;
	border-bottom: 1px solid #103c56;
	-webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	-moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
	box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.carro > li > a.active {
	border-bottom: 1px solid #1a638f;
}
.carro > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; 
	background: #48515c;
	line-height: 1em;
	height: 1em;
	padding: .4em .6em;
	margin: -.8em 0 0 0; 
	color: #fff;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: .769em;
	border-radius: .769em;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	font-weight: 500;
}
.carro > li > a:hover span, .carro > li a.active span {
	background: #2173a1;
}
.carro > li > ul li a:before{
	font-size: 8px;
	color: #bcbcbf;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}

.carro > li > ul li:hover a,
.carro > li > ul li:hover a span,
.carro > li > ul li:hover a:before {
	color: #32373D;
}
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}

.carro ul > li > a span {
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; /
	background: #fff;
	border: 1px solid #d0d0d3;
	line-height: 1em;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #878d95;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}
.comprar{
	

	color: #d0d0d3	;
	width: 80%;
	font-size: 1em; 
	border: 1px solid #d0d0d3;

	border-bottom: 1px solid #103c56;


	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;

	background: #fff;
	border-bottom: 1px solid #efeff0;
	height: 2em;
background-color: #35afe3;	

	font-weight: 500;
	color: #000;

}
a >.comprar:hover .comprar:before {
	background: #32373D;
}




/*header */

body{
	padding: 0;
	margin: 0;
	background-image: url('../img/bg-mini.png');
    background-repeat: repeat;
    width:100%;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

.contenedor{

}

.header{

}

.redes_top{
	background-color: #5a903f;
	padding:5px;
	font-size: 13.64px;
	font-family:'Oswald', sans-serif;
	color:white;
	font-weight: 700;
	padding-left: 78.5%;

}
.red_top{
	display:inline;
	max-width:1080px;
}

.red_top img{
	width: 31px;
	height: 31px;
}

.redes_top a {
	text-decoration: none;
	padding: 2px;
	color:white;
}
#follow{
	float: left;
    margin-right: 5px;
    padding-top: 6px;
    list-style: none;
}

.menu_p{

	font-family:'Oswald', sans-serif;
	background-color: #a2bb39;
	font-weight: 700;
	height: auto;
	padding: 25px;
	margin:auto;
	max-width:1280px;
	text-align: center;
}

.menu_p a{
	text-decoration: none;
	color:white;
}

.menu_p ul li{
	list-style:none;
	position:relative;
	display:inline-block;
	font-size: 15.58px;
}
#menu_inicio{
	border-right: solid;
	padding-right: 20px;
	padding-left: 20px;
}

#menu_quienes{
	border-right: solid;
	padding-right: 20px;
		padding-left: 20px;

}

#menu_prod{
	border-right: solid;
	padding-right: 20px;
		padding-left: 20px;

}

#menu_cont{
	border-right: solid;
	padding-right: 20px;
	padding-left: 20px;

}

#menu_cond{	
	border-right: solid;
	padding-right: 20px;
	padding-left: 20px;

}

#menu_pol{
	padding-left: 20px;
}

.ul_menu{
	background-color: #a2bb39;
}

.logo {
	text-align: center;
	margin-top: 30px;
}

.logo img{
	position:relative;
}

.sesion a{
	color:#689851;

}
.sesion{
	margin-left: 62%;
	font-size: 16.61px;
	font-family:'Oswald', sans-serif;
	font-weight: 400;
	margin-top: -13%;
	max-width: 1280px;

}

#menu_registro{
	padding-right: 13%
}

#menu_cuenta{
	padding-right: 10%
}

#img_carro{
	padding-right:2%;
}

#img_carro img{
	border:0;
}

#menu_carro{
}
/*slider*/
.news{
	text-align: center;
}

.noticia{
	font-size: 19.56px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #939c07;
}

.noticia img{
	width:100%;
	max-width: 1080px;	
}

/*ultimos productos*/


.ult_prod{
	margin: 0 auto;
	max-width: 1080px;
}

.ult_prods{
	font-size: 46.43px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #939c07;
	padding-top: 45px;
}

.productos{
	width:100%;
	float: left;
	position: relative;
}

/* nuevos productos*/
.item_home{
	color: #939c07;
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 16.56px;
    font-weight: bold;
    margin: 0 auto;
    width: 260px;
    padding-right: 9.3px;
    padding-bottom: 3%;
}

.item_home img{
	margin:0 auto;
    padding-top: 22.3px;
    width: 100%;
}

.text_home{
    background-color: #a56122;
    color: white;
    font-family: 'Roboto',sans-serif;
    margin-top: -5px;
    padding-top: 23px;
    padding-left: 17px;
    font-size:12.88px;
    padding-right:17px;
    font-weight: 400;
}

.img_vermas{
	width:60px;
}

.img_vermas img{
	padding-top: 14px;
	width:100%;
	padding-left: 17px;
	padding-bottom: 14px;
	border:0;
}

.footer_home{
	background-color: #a2bb39;
	max-width:1280px;
	width:100%;
	clear: both;
}