@import url(http://fonts.googleapis.com/css?family=Roboto:400|Oswald:400,700);

/* form Contacto  */
#contact_form{ width:300px; padding:20px; border: 1px solid #DDD;border-radius: 5px; font-family: Arial; font-size: 11px; font-weight: bold;color: #666666; background:#FAFAFA; margin-right: auto; margin-left: auto;}
#contact_form legend{font-size: 15px; color: #C9C9C9;}
#contact_form label{display: block; margin-bottom:5px;}
#contact_form label span{float:left; width:100px; color:#666666;}
#contact_form input{height: 25px; border: 1px solid #DBDBDB; border-radius: 3px; padding-left: 4px; color: #666; width: 180px; font-family: Arial, Helvetica, sans-serif;}
#contact_form textarea{resize:none; border: 1px solid #DBDBDB; border-radius: 3px; padding-left: 4px;color: #666; height:100px; width: 180px; font-family: Arial, Helvetica, sans-serif;}
.submit_btn { border: 1px solid #D8D8D8; padding: 5px 15px 5px 15px; color: #8D8D8D; text-shadow: 1px 1px 1px #FFF; border-radius: 3px; background: #F8F8F8;}
.submit_btn:hover { background: #ECECEC;}
.success{ background: #CFFFF5;padding: 10px; margin-bottom: 10px; border: 1px solid #B9ECCE; border-radius: 5px; font-weight: normal; }
.error{ background: #FFDFDF; padding: 10px; margin-bottom: 10px; border: 1px solid #FFCACA; border-radius: 5px; font-weight: normal;}

/* items carro */

.item{width:290px;border:1px solid #ddd;border-radius:5px; font-family: Arial; font-size: 11px; font-weight: bold;color:#666666;background:#fafafa; float:left;margin-left: 10px}
.item a span:hover{ display: block;z-index: 999;}
.derecha{text-align: right; float: right;}
.text{padding-left: 10px;padding-bottom: 10px;width: 270px}
.img-item{width:270px;height: 270px;padding: 10px;padding-bottom: 0; float: left;}
.img-item img:hover{background: rgba(255,0,0,0.5);}
.agregar{border: 1px solid #D8D8D8; padding: 5px; color: #8D8D8D; text-shadow: 1px 1px 1px #FFF; border-radius: 3px; background: #F8F8F8; width: 100%}
.agregar:hover { background: #ECECEC;}

.bloque{overflow:hidden;position:relative}
.article{
background:rgba(0,0,0,0.5);
top:-280px;
color:white;
font:54px Georgia,serif;
height:100%;width:100%;
position:absolute;
/*posibilidad de transition*/
-webkit-transition: all .5s ease-out;
-moz-transition: all .5s ease-out;
-o-transition: all .5s ease-out;
transition: all .5s ease-out;

}
.article a{
color:#fff;
margin-top: 100px;
display:block;
padding:15px;
text-decoration:none;
/*posibilidad de transition*/
}
.article a:hover{
color:green;
text-decoration:none;
}
.bloque:hover .article{
top:0;
}

/* form Registro  */
#contact_form1{ width:300px; padding:20px; border: 1px solid #DDD;border-radius: 5px; font-family: Arial; font-size: 11px; font-weight: bold;color: #666666; background:#FAFAFA; margin-right: auto; margin-left: auto;}
#contact_form1 legend{font-size: 15px; color: #C9C9C9;}
#contact_form1 label{display: block; margin-bottom:5px;}
#contact_form1 label span{float:left; width:100px; color:#666666;}
#contact_form1 input{height: 25px; border: 1px solid #DBDBDB; border-radius: 3px; padding-left: 4px; color: #666; width: 180px; font-family: Arial, Helvetica, sans-serif;}
#contact_form1 textarea{resize:none; border: 1px solid #DBDBDB; border-radius: 3px; padding-left: 4px;color: #666; height:100px; width: 180px; font-family: Arial, Helvetica, sans-serif;}
.submit_btn1 { border: 1px solid #D8D8D8; padding: 5px 15px 5px 15px; color: #8D8D8D; text-shadow: 1px 1px 1px #FFF; border-radius: 3px; background: #F8F8F8;}
.submit_btn1:hover { background: #ECECEC;}
.success{ background: #CFFFF5;padding: 10px; margin-bottom: 10px; border: 1px solid #B9ECCE; border-radius: 5px; font-weight: normal; }
.error{ background: #FFDFDF; padding: 10px; margin-bottom: 10px; border: 1px solid #FFCACA; border-radius: 5px; font-weight: normal;}


/*header */

body{
	padding: 0;
	margin: 0;
	background-image: url('../img/bg-mini.png');
    background-repeat: repeat;
    width:100%;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

.contenedor{

}

.header{

}

.redes_top{
	background-color: #5a903f;
	padding:5px;
	font-size: 13.64px;
	font-family:'Oswald', sans-serif;
	color:white;
	font-weight: 700;
	padding-left: 78.5%;

}
.red_top{
	display:inline;
	max-width:1080px;
}

.red_top img{
	width: 31px;
	height: 31px;
}

.redes_top a {
	text-decoration: none;
	padding: 2px;
	color:white;
}
#follow{
	float: left;
    margin-right: 5px;
    padding-top: 6px;
    list-style: none;
}

.menu_p{

	font-family:'Oswald', sans-serif;
	background-color: #a2bb39;
	font-weight: 700;
	height: auto;
	padding: 25px;
	margin:auto;
	max-width:1280px;
	text-align: center;
}

.menu_p a{
	text-decoration: none;
	color:white;
}

.menu_p ul li{
	list-style:none;
	position:relative;
	display:inline-block;
	font-size: 15.58px;
}
#menu_inicio{
	border-right: solid;
	padding-right: 20px;
	padding-left: 20px;
}

#menu_quienes{
	border-right: solid;
	padding-right: 20px;
		padding-left: 20px;

}

#menu_prod{
	border-right: solid;
	padding-right: 20px;
		padding-left: 20px;

}

#menu_cont{
	border-right: solid;
	padding-right: 20px;
	padding-left: 20px;

}

#menu_cond{	
	border-right: solid;
	padding-right: 20px;
	padding-left: 20px;

}

#menu_pol{
	padding-left: 20px;
}

.ul_menu{
	background-color: #a2bb39;
}

.logo {
	text-align: center;
	margin-top: 30px;
}

.logo img{
	position:relative;
}

.sesion a{
	color:#689851;

}
.sesion{
	margin-left: 62%;
	font-size: 16.61px;
	font-family:'Oswald', sans-serif;
	font-weight: 400;
	margin-top: -13%;
	max-width: 1280px;

}

#menu_registro{
	padding-right: 13%
}

#menu_cuenta{
	padding-right: 10%
}

#img_carro{
	padding-right:2%;
}

#img_carro img{
	border:0;
}

#menu_carro{
}
/*slider*/
.news{
	text-align: center;
}

.noticia{
	font-size: 19.56px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #939c07;
}

.noticia img{
	width:100%;
	max-width: 1080px;	
}

/*ultimos productos*/


.ult_prod{
	margin: 0 auto;
	max-width: 1080px;
}

.ult_prods{
	font-size: 46.43px;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #939c07;
	padding-top: 45px;
}

.productos{
	width:100%;
	float: left;
	position: relative;
}

/* nuevos productos*/
.item_home{
	color: #939c07;
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 16.56px;
    font-weight: bold;
    margin: 0 auto;
    width: 260px;
    padding-right: 9.3px;
    padding-bottom: 3%;
}

.item_home img{
	margin:0 auto;
    padding-top: 22.3px;
    width: 100%;
}

.text_home{
    background-color: #a56122;
    color: white;
    font-family: 'Roboto',sans-serif;
    margin-top: -5px;
    padding-top: 23px;
    padding-left: 17px;
    font-size:12.88px;
    padding-right:17px;
    font-weight: 400;
}

.img_vermas{
	width:60px;
}

.img_vermas img{
	padding-top: 14px;
	width:100%;
	padding-left: 17px;
	padding-bottom: 14px;
	border:0;
}

.footer_home{
	background-color: #a2bb39;
	max-width:1280px;
	width:100%;
	clear: both;
}






/***********************CARRO************************************/

#colorNav > ul > li{ /* will style only the top level li */
 list-style: none;
 display: inline-block;
 line-height: 1;
 margin: 1px;
 border-radius: 3px;
 position:relative;
}
#colorNav > ul > li > a{
 text-decoration:none !important;
 font-size:24px;

}
#colorNav li ul{
 position:absolute;
 list-style:none;
 text-align:center;
 width:180px;
 left:50%;
 margin-left:-90px;
 top:10px;

/* This is important for the show/hide CSS animation */
 max-height:0px;
 overflow:hidden;

-webkit-transition:max-height 0.4s linear;
 -moz-transition:max-height 0.4s linear;
 transition:max-height 0.4s linear;
}
#colorNav li:hover ul{
 min-height:500px;
}
#colorNav li ul li{
 background-color:#5a903f;
}

#colorNav li ul li a{
 padding:12px;
 color:#fff !important;
 text-decoration:none !important;
 display:block;
 font-size: 14px;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
 background-color:#a2bb39;
}

#colorNav li ul li:hover{
 background-color:rgba(55, 22, 1,.9);
}

#colorNav li ul li:first-child{
 border-radius:3px 3px 0 0;
 margin-top:25px;
 position:relative;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
 content:'';
 position:absolute;
 width:1px;
 height:1px;
 border:5px solid transparent;
 border-bottom-color:#313131;
 left:50%;
 top:-10px;
 margin-left:-5px;
}

#colorNav li ul li:last-child{
 border-bottom-left-radius:3px;
 border-bottom-right-radius:3px;
}